.d-flex{
    width: 30%;
    justify-content: center;
    align-items: center;
}

.link_button{
    color: black;
    margin-left: 20px;
}

.login_button{
        background-color: black;
        border: none;
        font-weight: bold;
        border-radius: 30px;
        outline: none;
        width:30% ;
        margin-right: 30px;
        
}


.language_button{
    background-color: transparent;
    border-radius: 30px;
    outline: none;
    width:auto ;
    margin-right: 0px;
    border-color: transparent;
    color: black;
}


.logo{
    width: 40px;
    
}

.brand{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    
}
.brand.span{
    color: #920303;
}

.globe{
    width: 3%;
    margin-bottom: 5px;
    margin-left: 10px;
}




.switch {
    position: relative;
    display: inline-block;
    width: 12%;
    height: 25px;
    margin-right: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 95%;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 24px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  input:checked + .slider {
    background-color: black;
    
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
    
  }

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    
  }
  
.slider.round:before {
    border-radius: 50%;
    
  }






.link-button::hover{
    font:bold ;
    border: 5px solid black;
    font-size: 20px ;
}