.d-flex{
    width: 20%;
    justify-content: center;
    align-items: center;
}

.link_button{
    color: black;
    margin-left: 20px;
}

.login_button{
        background-color: black;
        border: none;
        font-weight: bold;
        border-radius: 30px;
        outline: none;
        width:100% ;
        margin-right: 30px;
        
}


.english_button{
    background-color: transparent;
    border-radius: 30px;
    outline: none;
    width:100% ;
    margin-right: 30px;
    border-color: transparent;
    color: black;
    font-weight: bold;
}


.logo{
    width: 40px;
    
}

.brand{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    
}
.brand.span{
    color: #920303;
}

.globe{
    width: 20px;
    margin-bottom: 5px;
}
.link-button::hover{
    font:bold ;
    border: 5px solid black;
    font-size: 20px ;
}